body{
    width:auto;
}

.global{
display:flex;
flex-flow: column;
background-color: whitesmoke;
width: 400px;
height: 500px;
border-radius: 20px;
justify-self: center;


}

.login{
display: flex;
flex-flow: column;
justify-content: center;

margin-top: 30px;
padding: 20px;

}

