body{
    margin-top: 10px;
    width:auto;
   
}

.global{
display:flex;
flex-flow: column;
background-color: whitesmoke;
width: 400px;
height: 500px;
border-radius: 20px;
justify-self: center;


}

.login{
    
display: flex;
flex-flow: column;
justify-content: center;

margin-top: 20px;
padding: 20px;


}


.login input[type='submit']{

    background-color:  whitesmoke;
    border-radius: 20px;
    color: bisque;
    border: none;
    height:50px;
    cursor: pointer; /*pra virar a mãozinha que aponta */
    
}



.login input[type='submit']:hover{

    background-color:  whitesmoke;
    border-radius: 20px;
    color: bisque;
    border: none;
    height:50px;
    cursor: pointer; /*pra virar a mãozinha que aponta */

}

