body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #4facfe;
    /*background-image:url*/
}
 
 
 
 
.topo{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: rgb(20, 133, 185);
    border-radius: 30 px;
    height: 75 px;
    /* font-family: 'SchuboiseHandwrite', sans-serif; */
     
    }

    .topo h1{
        margin-left: 20px;
        /* font-family: 'SchuboiseHandwrite', sans-serif; */
    }
     
    .logout{
    width: 100px;
    height: auto;
    margin-right:20px ;
    margin-top: 20px;
    display: flex;
    }


     /* personalizando apenas o input do botao de logout */
     .logout input[type=submit]{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 2px solid rgb(red, green, blue);
     }

    
    .menus{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-top: 10px;
     
    }
     
    /* menu pode ser renomeado para .card */
     .menu1 
    /*.menu2, .menu3, .menu4, .menu5, .menu6*/{  
        width: 300px;
        height: auto;
        display: flex;
        justify-content: center;
        background-color: black;
       
        margin: 20px;
        border-radius: 20px;
        flex-flow: row wrap;
        align-items: center;
     
    }

    
 
.menus a{
    width: 300px ;
    height: 50px ;
    
}

/* .menus p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size:  15px;
    border-radius: 5px;
    
} */

.texto-card{
    
    background-color: #4facfe; 
    border: blue solid 2px;
    width: 300px;
    border-radius: 10px;
    margin: 20px;
    border-color: whitesmoke;
    font-size: 20px;
    text-align: center;
    padding: 2px ;
    font-family: Arial, Helvetica, sans-serif;

}
 
.menu1 text, label{
    margin-top: 20px;
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu1 a, .menu2 a, .menu3 a, .menu4 a, .menu5 a, .menu6 a {
display: flex;
justify-content: center;
/* margin-top: 40px; */

}

/* EFEITO DE MOUSE HOVER */
.menu1:hover,.menu2:hover,.menu3:hover,.menu4:hover,.menu5:hover,.menu6:hover{
        transform: scale(1.109); /*efeito alterado pela escala em 1x1*/
        background-color: blue;
    }

    .menu1,.menu2,.menu3,.menu4,.menu5,.menu6{

        transition: transform 0.4; /* tempo para a conclusao do efeito */
    }

    /* LABELS DOS MENUS */


    