.lista{
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 5px;
    width: auto;
    height: auto;
}

/* propriedades básicas de tabela */
table{
border-collapse: collapse;
width: 100%;

}

td, th{
    background-color: beige;
border: 1px solid black;
text-align: center;


}
/* não vai funcionar por causa do td,th beige;
tr:hover {
    background-color: blue;
} */

td:hover{
background-color: rgb(140, 197, 235);

}